## <font color="maroon"><h4 align="center">Handling Missing Data - fillna, interpolate, dropna: Exercise</font>

## <font color="blue">About the data</font>
- The file **fruits_data.csv** lists the monthly prices of Apple, Banana, Grapes, Mango, and Water Melons from January to October 2022.
- Your task is to fill in the missing values according to the given instructions.

In [1]:
import pandas as pd

### <font color="purple">**Question1**</font>
- Read the csv file 'fruits_data.csv' into the dataframe 'df'.
- show the number of rows and columns in it.
- list all the columns present in the dataframe.
- show the dataframe

In [45]:
#read the csv file


#show the number of rows and columns


#list all the columns


#show the dataframe

### <font color="purple">**Question2**</font>
- Fill all the null values in the dataframe with '-1' and store the result to variable 'new_df'.

In [46]:
#fill null values with -1 and store it to 'new_df'


#show the dataframe 'new_df'

### <font color="purple">**Question3**</font>
Fill the null values in respective columns like below:

    - apple(1kg): Mean value of that column
    - banana(1 dozen): Mean value of that column
    - grapes(1kg): Median value of that column
    - mango(1kg): Median value of that column
    - Water Melons(1): Fill null values with "Not Available".
    
Finally store the output to 'new_df' variable

In [47]:
#write the code to fill null values as per above condition
#store the result to 'new_df' variable


#show the dataframe 'new_df'

### <font color="purple">**Question4**</font>

- Fill the null values with the non-null value before it (Forward fill method)
- Store the result in 'new_df'.

In [48]:
#fill null values using 'ffill'


#show the dataframe 'new_df'

### <font color="purple">**Question5**</font>
- Drop the rows if it does not contain atleast 4 non-null values (use the concept of thresholding).
- store the result in 'new_df'

In [49]:
#write the code here


#show the dataframe 'new_df'

### <font color="purple">**Question6**</font>


- Finally, remove the row if it contain null value and store the result in 'new_df'
- save that dataframe to csv:'final_data.csv' and make sure to set index to False

In [52]:
#write the code here



#show the dataframe 'new_df'

In [53]:
#save the dataframe to 'final_data.csv'